<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UploadFiles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <UploadFiles.Properties.Settings>
            <setting name="DefaultSite" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultText" serializeAs="String">
                <value>== Summary ==\n== Licensing ==\n{{Fairuse}}</value>
            </setting>
            <setting name="WaitTime" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="WaitFiles" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TimeOut" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>1500</value>
            </setting>
        </UploadFiles.Properties.Settings>
    </applicationSettings>
</configuration>
